.global-bg-image {
  //background-image: url('/assets/images/resources/404.jpg');
}

.global-user-setting {
  left: -35px !important;
}

.top-area > ul.main-menu {
  float: revert;
}

.bottombar i {
  @include small() {
    float: left;
  }
}

.copyright {
  font-size: 14px !important;
}
