@import '../public/assets/scss/global-investissement';

// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: var(--slate-grey);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

.global-footer-title {
  left: 5px;
  color: var(--blue-pacific);
}

.global-main-menu::after {
  content: '' !important;
}

.global-bullet {
  display: inline;
  margin: 0 4px;
  color: var(--blue-pacific);

  &::after {
    content: "\2022";
  }
}

.global-footer-link {
  font-size: 14px;
}

.global-footer-icon {
  color: var(--blue-pacific) !important;
  font-weight: 600;
  margin-right: 10px;
}

.global-footer-social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  width: 2.5rem;
  height: 2.5rem;
  color: #777;
  margin: 0;
  background-color: transparent;
  border: .1rem solid #e1e2e6;
  border-radius: 50%;
  text-decoration: none;
  opacity: 1;
  transition: all .35s ease;

  i {
    font-size: 20px;
  }
}

.global-footer-list-social {
  left: -40px;
  position: relative;
  list-style: none;
  display: flex;

  li {
    margin-right: 15px;
    font-size: 25px;
  }
}

.global-btn-facebook {
  &:hover {
    border-color: #435f9f !important;
    background: #435f9f !important;

    .fa-facebook {
      color: var(--white);
    }
  }

  .fa-facebook {
    color: #435f9f;
  }
}

.global-btn-twitter {
  &:hover {
    border-color: #00aaf0 !important;
    background: #00aaf0 !important;

    .fa-twitter {
      color: var(--white);
    }
  }

  .fa-twitter {
    color: #00aaf0;
  }
}

.global-btn-instagram {
  &:hover {
    border-color: #bc2a8d !important;
    background: linear-gradient(to right, #F7D440 0%, #F50000 100%) !important;

    .fa-instagram {
      color: var(--white);
    }
  }

  .fa-instagram {
    color: #bc2a8d;
  }
}

.global-clients-owl-stage {
  transform: translate3d(-1900px, 0px, 0px);
  transition: all 1s ease 0s;
  width: 3420px;
}

.global-clients-img {
  width: 160px;
  margin-right: 30px;
}

.global-log-reg-area {
  display: block !important;
}

.global-btn-login {
  border: 1px solid var(--blue-pacific);
  color: var(--white) !important;
  border-radius: 5px;
  padding: 10px 20px;
  background: var(--blue-pacific);
  font-weight: 600;

  &:hover {
    background: transparent;
    color: var(--blue-pacific) !important;
  }
}

.gloabal-services-icon {
  top: 1px;
  position: relative;
}

.global-post-title {
  border-bottom: 1px solid transparent !important;
}

.global-blue-btn {
  text-align: center;

  a {
    background: var(--blue-pacific);
    color: var(--white);
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
    padding: 12px 60px;
    transition: all 0.2s linear 0s;

    &:hover {
      box-shadow: 0 0 20px var(--blue-pacific);
    }
  }
}

.global-banner-header-container {
  figure img {
    width: 100%;
  }

  display: block;
  position: relative;
  width: 100%;
}

.global-banner-header-box {
  background: var(--blue-pacific) none repeat scroll 0 0;
  color: #fff;
  left: 5%;
  padding: 20px;
  position: absolute;
  top: 80px;
  border-radius: 10px;
  width: 500px;
  z-index: 9;
}

.global-banner-header-cta {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  a {
    background: var(--white) none repeat scroll 0 0;
    color: var(--blue-pacific);
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 11px 60px;
    vertical-align: middle;
    transition: all 0.2s linear 0s;
    &:hover {
      background: var(--blue-pacific);
      color: var(--white);
    }
  }
}
